@model IndexBoardSummary

<tr>
    <td class="actions">
        @if (Model.DisplayOrder != 1) {
            <a asp-controller="Boards" asp-action="MoveUp" asp-route-id="@Model.Id"><img alt="Move up" src="~/images/upArrow.png" /></a>
        }
        <a asp-controller="Boards" asp-action="Update" asp-route-id="@Model.Id"><img alt="Update" src="~/images/edit.png" /></a>
        <a asp-controller="Boards" asp-action="Delete" asp-route-id="@Model.Id"><img alt="Delete" src="~/images/delete.png" /></a>
        <img class="mergeBoard" src="/Content/Images/join.png" boardId="@Model.Id" />
    </td>
    <td class="board">@Model.Name</td>
</tr>

@if (Model.Children != null && Model.Children.Count > 0) {
    <tr>
        <td colspan="2" class="children">
            <table>
                @foreach (var board in Model.Children) {
                    @Html.Partial("_ManageItem", board)
                }
            </table>
        </td>
    </tr>
}