@model ViewModels.Smileys.IndexPage

<div class="content-box pad">
	<div asp-validation-summary="All" class="error"></div>

	<form method="post" asp-action="@nameof(Smileys.Edit)">
		@if (Model.Smileys.Any()) {
			<table>
				<tr>
					<th></th>
					<th>Column</th>
					<th>Row</th>
					<th>Code</th>
					<th>Thought</th>
					<th></th>
				</tr>
				@for (int i = 0; i < Model.Smileys.Count; i++) {
					<tr>
						<td>
							<input hidden="hidden" asp-for="@Model.Smileys[i].Id" />
							<a asp-action="@nameof(Smileys.Delete)" asp-route-id="@Model.Smileys[i].Id" class="borderless spaced"><img alt="Delete" src="~/images/delete.png" /></a>
						</td>
						<td>
							<input asp-for="@Model.Smileys[i].Column" class="small-input" />
						</td>
						<td>
							<input asp-for="@Model.Smileys[i].Row" class="small-input" />
						</td>
						<td>
							<input asp-for="@Model.Smileys[i].Code" />
							<span asp-validation-for="@Model.Smileys[i].Code" class="error"></span>
						</td>
						<td>
							<input asp-for="@Model.Smileys[i].Thought" class="long-input" />
						</td>
						<td>
							<img src="@Model.Smileys[i].Path" />
						</td>
					</tr>
				}
			</table>
		}

		<ul>
			<li><button>Save Changes</button></li>
			<li><cancel-button /></li>
		</ul>
	</form>
</div>

@{ViewData["Title"] = "Smileys";}

@section PageActions {
	<p>
		<a class="button" asp-action="@nameof(Smileys.Create)">Create a new Smiley</a>
	</p>
}

@section styles {
	<link rel="stylesheet" href="~/styles/smiley-index.css" asp-append-version="true" />
}