@model EditPage

<section class="content-box pad">
	<form method="post"
		  asp-action="@nameof(Roles.Edit)"
		  asp-controller="@nameof(Roles)">

		<div asp-validation-summary="All" class="error"></div>

		<input type="hidden" name="Id" value="@Model.Id" />

		<dl>
			<dt>Name</dt>
			<dd><input type="text" asp-for="@Model.Name" /></dd>
            <dd><span asp-validation-for="@Model.Name" class="error"></span></dd>
		</dl>

        <dl>
            <dt>Description</dt>
            <dd><textarea asp-for="@Model.Description"></textarea></dd>
            <dd><span asp-validation-for="@Model.Description" class="error"></span></dd>
        </dl>

		<ul>
			<li><button>Save Changes</button></li>
			<li><a asp-action="UserList" asp-route-id="@Model.Id" class="button">Manage Role Users</a></li>
			<li><a asp-action="Delete" asp-route-id="@Model.Id" class="button">Delete Role</a></li>
		</ul>
	</form>

	<div class="note">
		<p>@Model.NumberOfUsers users in this role</p>
		<p>Created by @Model.CreatedBy, @Model.Created</p>
		<p>Last modified by @Model.ModifiedBy, @Model.Modified</p>
	</div>
</section>

@{ ViewData["Title"] = "Edit Role"; }
@section Header {@ViewData["Title"]}