@{
	var siteAge = DateTime.Now.Year - 2000;

	var timerOutput = string.Empty;

	if (Context.Items["PageTimer"] is System.Diagnostics.Stopwatch pageTimer) {
		pageTimer.Stop();
		var pageTimerSeconds = 1D * pageTimer.ElapsedMilliseconds / 1000;

		timerOutput = $"| Loaded in {pageTimerSeconds} seconds";
	}
}

<footer id="page-footer" class="align-center">
	@if (User.Identity.IsAuthenticated) {
		<ul class="inline pad-bottom">
			<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0">All Topics</a></li>
			<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0" asp-route-unread="1">Unread</a></li>
			<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0" asp-route-unread="2">Replies</a></li>
		</ul>
	}

	<p><a href="https://github.com/jyarbro/forum/commits/master">Theme @Constants.Versions.Theme | Code @Constants.Versions.Code @timerOutput</a></p>
	<p><span id="easter-egg">Bringing disorder to chaos for @siteAge years.</span></p>
	<div id="danger-sign" class="hidden">
		<img src="~/images/dangerSign.png" />
	</div>
</footer>