@model int

@if (User.Identity.IsAuthenticated) {
    <ul class="inline inline-children small-gap-left small-mobile-hide">
        <li clickable-link-parent><a class="small-button" asp-controller='@nameof(Topics)' asp-action='@nameof(Topics.Bookmarks)'>Bookmarks</a></li>
        <li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0">All</a></li>
        <li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0" asp-route-unread="1">Unread</a></li>
        <li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="0" asp-route-unread="2">Replies</a></li>
        <li clickable-link-parent class="small-gap-left"><a class="small-button highlight" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Create)" asp-route-id="@Model">Create</a></li>
    </ul>
}