@model ViewModels.MultiStep

<div class="content-box pad gap-bottom">
	<p class="pad-bottom">@Model.ActionNote</p>
	<div class="main-bar">
		<div class="completed-bar">0%</div>
	</div>
	<p class="small-pad-top font-small">
		<button id="start" class="small-button">Start</button>
	</p>
</div>

<div class="content-box pad gap-bottom font-small">
	<p class="subdued-text">Settings</p>
	<div class="small-pad-left">
		<p>Pause after next step <input id="pause-after-next" type="checkbox" /></p>
		<p>Pause on errors <input id="pause-on-error" type="checkbox" checked="checked" /></p>
		<p>Take <input id="take" type="text" size="3" value="@Model.Take" /></p>
		<p>Page <input id="current-page" type="text" size="3" value="@(Model.Page + 1)" /> of <span id="total-pages">@(Model.TotalPages + 1)</span></p>
	</div>
</div>

<div class="content-box pad">
	<p class="font-small subdued-text">Log</p>
	<ul id="log" class="small-pad-left"></ul>
</div>


@{ViewData["Title"] = $"{Model.ActionName}";}
@section Header {@ViewData["Title"]}

@section styles {
	<link rel="stylesheet" href="~/styles/multi-step.css" asp-append-version="true" />
}

@section scripts {
	<script>
		window.pageActions = 'multi-step';
		window.page = @Model.Page;
		window.totalPages = @Model.TotalPages;
		window.totalRecords = @Model.TotalRecords;
		window.take = @Model.Take;
		window.nextAction = '@Model.Action';
	</script>
}