@model Forum.Models.ViewModels.Messages.HistoryPage

@{ var pageModifier = Model.MorePages ? 1 : 0; }

<header id="topic-header" class="content-box pad gap-bottom">
	<ul class="inline pages">
		<li class="font-small subdued-text">Pages:</li>
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
		@for (var i = 1; i <= Model.CurrentPage + pageModifier; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Messages)" asp-action="@nameof(Messages.History)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
		@if (Model.MorePages) {
			<li class="more-pages-after">&#8230;</li>
		}
	</ul>
</header>

<br class="clear-left" />

<div id="message-list">
	@for (var i = 0; i < Model.Messages.Count(); i++) {
	<partial name="../Messages/_DisplayMessage" for="@Model.Messages[i]" />
	}
</div>

<footer id="topic-footer" class="content-box pad gap-top">
	<ul class="inline pages">
		<li class="font-small subdued-text">Pages:</li>
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
		@for (var i = 1; i <= Model.CurrentPage + pageModifier; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Messages)" asp-action="@nameof(Messages.History)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
		@if (Model.MorePages) {
			<li class="more-pages-after">&#8230;</li>
		}
	</ul>
</footer>

@{ ViewData["Title"] = $"Message History"; }
@section Header {
	@Html.Raw(Model.DisplayName)'s @ViewData["Title"]
}

@section scripts {
	<script>
		window.currentPage = @Model.CurrentPage;
		window.totalPages = @Model.CurrentPage;
		window.showFavicons = @Model.ShowFavicons.ToString().ToLower();
		window.messages = [@(string.Join(", ", Model.Messages.Select(b => b.Id)))];
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/topic-display.css" asp-append-version="true" />
}