@model ViewModels.SiteSettings.IndexPage

<div class="content-box pad">
	<div asp-validation-summary="All"></div>

	<form method="post" asp-action="@nameof(SiteSettings.Edit)">
		<ol>
			@if(Model.Settings.Any()) {
				@for (int i = 0; i < Model.Settings.Count; i++) {
					<li>
						<span asp-validation-for="@Model.Settings[i].Value" class="error"></span>
						<input asp-for="@Model.Settings[i].AdminOnly" />
						<input value="@Model.Settings[i].Key" disabled="disabled" />
						<input asp-for="@Model.Settings[i].Key" type="hidden" />

						@if (Model.Settings[i].Options.Any()) {
							<select asp-for="@Model.Settings[i].Value" asp-items="@Model.Settings[i].Options"></select>
						}
						else {
							<input asp-for="@Model.Settings[i].Value" />
						}
					</li>
				}
			}
		</ol>

		<ul>
			<li><button>Save Changes</button></li>
			<li><cancel-button /></li>
		</ul>
	</form>
</div>

@{ViewData["Title"] = "Site Settings";}