@model Message

<section>
	<span id="message@(Model.Id)"></span>
	<!-- TODO - if unread target = this, then <span id="latest"></span> -->

	<aside>
		@if (Model.CanThought) {
			<span message-id="@Model.Id">
				Thought
			</span>
		}

		@if (Model.CanReply) {
			<span>
				Reply
			</span>
		}

		@if (Model.CanEdit) {
            <a asp-controller="Messages" asp-action="Edit" asp-route-id="@Model.Id">
                Edit
            </a>
        }

		@if (Model.CanDelete) {
			@if (Model.ParentId == 0) {
				<a asp-controller="Topics" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this ENTIRE topic?');">
					Delete
				</a>
			}
			else {
				<a asp-controller="Topics" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this reply?');">
					Delete
				</a>
			}
		}
	</aside>

	<p>@Model.PostedByName</p>
	<p>
		<time>
			posted @Model.TimePosted
			@if (Model.TimeEdited != Model.TimePosted) {
				<span>| edited @Model.TimeEdited</span>
			}
		</time>
	</p>

	@if (Model.ReplyId > 0) {
		<blockquote>@Html.Raw(Model.ReplyBody)</blockquote>
	}

	<p>@Html.Raw(Model.Body)</p>
    
	<div>
		<p>Reply:</p>
		@Html.Partial("_MessageForm", Model.ReplyForm)
	</div>

	<p><!-- thoughts here --></p>
</section>