@model Forum3.ViewModels.Messages.Message

<section>
	<span id="message@(Model.Id)"></span>
	<!-- TODO - if unread target = this, then <span id="latest"></span> -->

	<aside>
		@if (Model.CanThought) {
			<span message-id="@Model.Id">
				Thought
			</span>
		}

		@if (Model.CanReply) {
			<span>
				Reply
			</span>
		}

		@if (Model.CanEdit) {
			<span>
				Edit
			</span>
		}

		@if (Model.CanDelete) {
			@if (Model.ParentId == 0) {
				<a asp-controller="Messages" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this ENTIRE topic?');">
					Delete
				</a>
			}
			else {
				<a asp-controller="Messages" asp-action="Delete" asp-route-id="@Model.Id" asp-route-redirect="%2fMessage%2fTopic%2f@(Model.ParentId)" onclick="return confirm('Are you sure you want to remove this reply?');">
					Delete
				</a>
			}
		}
	</aside>


	<p class="note">@Model.PostedByName</p>
	<p class="note">
		<time>
			posted @Model.TimePosted
			@if (Model.TimeEdited != Model.TimePosted) {
				<span class="mobileHide">| edited @Model.TimeEdited</span>
			}
		</time>
	</p>

	@if (Model.ReplyId > 0) {
		<blockquote>@Html.Raw(Model.ReplyBody)</blockquote>
	}

	<p>@Html.Raw(Model.Body)</p>

	<p>Edit:</p>
	@Html.Partial("_CreateMessageForm", Model.EditInput)

	<p>Reply:</p>
	@Html.Partial("_CreateMessageForm", Model.ReplyInput)

	<p class="clear"><!-- thoughts here --></p>
</section>