@model Message

<article class="gap-bottom">
	<section class="content-box pad">
		<span id="message@(Model.Id)"></span>
		<!-- TODO - if unread target = this, then <span id="latest"></span> -->

		<aside class="float-right">
			@if (Model.CanThought) {
				<span class="thought-button pad-right pointer note">
					<img class="align-middle" src="~/images/thoughts.png" />
					Thought
				</span>
			}

			@if (Model.CanReply) {
				<span class="reply-button pad-right pointer note">
					<img class="align-middle" src="~/images/reply.png" />
					Reply
				</span>
			}

			@if (Model.CanEdit) {
				<a class="pad-right note" asp-action="@nameof(Messages.Edit)" asp-route-id="@Model.Id">
					<img class="align-middle" src="~/images/edit.png" />
					Edit
				</a>
			}

			@if (Model.CanDelete) {
				@if (Model.ParentId == 0) {
					<a class="pad-right note" asp-action="@nameof(Messages.Delete)" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this ENTIRE topic?');">
						<img class="align-middle" src="~/images/delete.png" />
						Delete
					</a>
				}
				else {
					<a class="pad-right note" asp-action="@nameof(Messages.Delete)" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this reply?');">
						<img class="align-middle" src="~/images/delete.png" />
						Delete
					</a>
				}
			}
		</aside>

		<header class="message-header note">
			@Model.PostedByName
			<time>
				posted @Model.TimePosted
				@if (Model.TimeEdited != Model.TimePosted) {
					<span>| edited @Model.TimeEdited</span>
			}
			</time>
		</header>

		@if (Model.ReplyId > 0) {
			<blockquote>@Html.Raw(Model.ReplyBody)</blockquote>
		}

		<div class="message-body">@Html.Raw(Model.Body)</div>

		<div class="hidden reply-form pad gap-top">
			<p>Reply directly to this message:</p>
			@Html.Partial("_MessageForm", Model.ReplyForm)
		</div>
	</section>

	<section class="message-thoughts"><!-- TODO --></section>

	<section class="message-cards">@Html.Raw(Model.Cards)</section>
</article>