@model MessagePreview

<div class="content-box gap hover-highlight">
	<div class="pin float-right pad gap">
		@if (Model.Pinned) {
			<a asp-action="@nameof(Topics.Pin)" asp-controller="@nameof(Topics)" asp-route-id="@Model.Id"><img src="~/images/pinned.png" /></a>
		}
		else {
			<a asp-action="@nameof(Topics.Pin)" asp-controller="@nameof(Topics)" asp-route-id="@Model.Id"><img src="~/images/unpinned.png" /></a>
		}
	</div>
	<div class="details pointer pad" clickable-link-parent>
		<p>
			<a asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id">
				@Html.Raw(Model.ShortPreview)
			</a>
		</p>
		<div class="note pad-left">
			<p>
				@Model.Replies
				@if (Model.Replies > 1) {
					<text>replies</text>
				}
				else {
					<text>reply</text>
				}

				&nbsp;

				@Model.Views
				@if (Model.Views > 1) {
					<text>views</text>
				}
				else {
					<text>view</text>
				}
			</p>
			<p class="small-pad-top">Last post was @Model.LastReplyPosted by @Model.LastReplyByName</p>
			<p class="small-pad-left">@Model.LastReplyPreview</p>
		</div>
	</div>
</div>