@model TopicDisplayPage

<div asp-validation-summary="All" class="error"></div>

@for (var i = 0; i < Model.Messages.Count(); i++) {
	@await Html.PartialAsync("_DisplayItem", Model.Messages[i])
}

<p class="gap-top">Reply to Thread:</p>
<div class="content-box pad">
	@await Html.PartialAsync("_MessageForm", Model.ReplyForm)
</div>

@section Breadcrumbs {
	@if (User.Identity.IsAuthenticated) {
		<a asp-action="@nameof(Boards.Index)" asp-controller="@nameof(Boards)" class="small-button">Board Index</a>

		if (Model.AssignedBoards.Any()) {
			foreach (var board in Model.AssignedBoards) {
				<a asp-action="@nameof(Topics.Index)" asp-controller="@nameof(Topics)" asp-route-id="@board.Id" class="small-button">@board.Name</a>
			}
		}
	}
}

@section scripts {
    <environment names="Development">
        <script src="~/js/TopicDisplay.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/TopicDisplay.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/TopicDisplay.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/TopicDisplay.min.css" asp-append-version="true" />
    </environment>
}