@model TopicDisplayPage

<header id="topic-header" class="content-box pad gap-bottom">
	@if (User.Identity.IsAuthenticated) {
		<nav class="float-right">
			<ul class="inline">
				<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Pin)" asp-route-id="@Model.Id">Pin Topic</a></li>
				@if (Model.CanManage) {
					<li class="open-menu">
						<span class="small-button">Manage Boards</span>
						<div class="menu-wrapper hidden">
							<ul class="drop-down-menu content-box">
								@foreach (var category in Model.Categories) {
									<li class="small-pad-bottom">
										<p class="note small-pad-bottom">@category.Name</p>
										<ul>
											@foreach (var board in category.Boards) {
												<li class="hover-highlight" toggle-board board-id="@board.Id">
													@if (Model.AssignedBoards.Any(b => b.Id == board.Id)) {
														<img src="~/images/checkbox_checked.png" board-flag="@board.Id" />
													}
													else {
														<img src="~/images/checkbox_unchecked.png" board-flag="@board.Id" />
													}
													@board.Name
												</li>
											}
										</ul>
									</li>
								}
							</ul>
						</div>
					</li>
					<li><a class="small-button" asp-controller="@nameof(Messages)" asp-action="@nameof(Messages.Delete)" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to remove this ENTIRE topic?');">Delete Topic</a></li>
				}
			</ul>
		</nav>
	}

	<section>
		<p class="note">@Model.ViewCount views, @Model.ReplyCount replies</p>
		<p>
			<span class="note">Boards:</span>
			@if (Model.AssignedBoards.Any()) {
				foreach (var board in Model.AssignedBoards) {
					<a asp-action="@nameof(Topics.Index)" asp-controller="@nameof(Topics)" asp-route-id="@board.Id" class="small-button">@board.Name</a>
				}
			}
		</p>
		<ul class="inline pages">
			<li class="note pointer unhide-pages">Pages: </li>
			<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
			@for (var i = 1; i <= Model.TotalPages; i++) {
				if (Model.CurrentPage == i) {
					<li class="small-button highlight page hidden">@i</li>
				}
				else {
					<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
				}
			}
			<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
		</ul>
	</section>
</header>

<br class="clear" />

<div asp-validation-summary="All" class="error"></div>

<div>
	@for (var i = 0; i < Model.Messages.Count(); i++) {
		@await Html.PartialAsync("_DisplayItem", Model.Messages[i])
	}
</div>

<footer>
	<ul class="inline pages">
		<li class="note pointer unhide-pages">Pages: </li>
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
		@for (var i = 1; i <= Model.TotalPages; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
		<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
	</ul>
</footer>

<p class="gap-top">Reply to Thread:</p>
<div class="content-box pad">
	@await Html.PartialAsync("_MessageForm", Model.ReplyForm)
</div>

@{ ViewData["Title"] = @Html.Raw(Model.TopicHeader.Subject); }
@section Header {@ViewData["Title"]}

@section scripts {
	<script>
		var currentPage = @Model.CurrentPage;
		var totalPages = @Model.TotalPages;
		var showFavicons = @Model.ShowFavicons.ToString().ToLower();

		var togglePath = "@Url.Action(nameof(Topics.ToggleBoard), nameof(Topics), new { MessageId = Model.Id })";

		@{ var assignedBoards = String.Join(", ", Model.AssignedBoards.Select(b => b.Id)); }
		var assignedBoards = [@assignedBoards];
	</script>

	<environment include="Development">
		<script src="~/js/TopicDisplay.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/TopicDisplay.min.js" asp-append-version="true"></script>
	</environment>
}

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/TopicDisplay.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/TopicDisplay.min.css" asp-append-version="true" />
	</environment>
}