@model TopicDisplayPage

<header id="topic-header">
	<ul class="float-right inline pages">
		<li class="note pointer">Pages: </li>
		@for (var i = 1; i <= Model.TotalPages; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
	</ul>

	<div class="pad-bottom">
		@if (User.Identity.IsAuthenticated) {
			if (Model.AssignedBoards.Any()) {
				foreach (var board in Model.AssignedBoards) {
					<a asp-action="@nameof(Topics.Index)" asp-controller="@nameof(Topics)" asp-route-id="@board.Id" class="small-button">@board.Name</a>
				}
			}
		}
	</div>

	<h4>@Html.Raw(Model.TopicHeader.Subject) <span class="note">@Model.TopicHeader.Views view@(Model.TopicHeader.Views == 1 ? "" : "s")</span></h4>
	<br class="clear" />
</header>

<div asp-validation-summary="All" class="error"></div>

<div>
	@for (var i = 0; i < Model.Messages.Count(); i++) {
		@await Html.PartialAsync("_DisplayItem", Model.Messages[i])
	}
</div>

<footer>
	<ul class="inline pages">
		<li class="note pointer">Pages: </li>
		@for (var i = 1; i <= Model.TotalPages; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
	</ul>
</footer>

<p class="gap-top">Reply to Thread:</p>
<div class="content-box pad">
	@await Html.PartialAsync("_MessageForm", Model.ReplyForm)
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/TopicDisplay.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/TopicDisplay.min.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/Pages/TopicDisplay.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/min/TopicDisplay.min.css" asp-append-version="true" />
    </environment>
}