@model TopicIndexPage

@if (User.Identity.IsAuthenticated) {
	<ul class="inline gap-top">
		<li class="note"></li>
		<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@Model.BoardId">All</a></li>
		<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@Model.BoardId" asp-route-unread="1">Unread</a></li>
		<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@Model.BoardId" asp-route-unread="2">Replies</a></li>
		
		@if (Model.BoardId > 0) {
			<li clickable-link-parent><a class="small-button highlight" asp-controller="@nameof(Messages)" asp-action="@nameof(Messages.Create)" asp-route-id="@Model.BoardId">Create</a></li>
		}
		else {
			<li clickable-link-parent><a class="small-button highlight" asp-controller="@nameof(Messages)" asp-action="@nameof(Messages.Create)" asp-route-id="1">Create</a></li>
		}
	</ul>
}

<section id="topic-list">
	@foreach (var item in Model.Topics) {
		@await Html.PartialAsync("_IndexItem", item)
	}
</section>

<footer>
	<span id="load-more-topics" class="hidden small-button">More Topics</span>
</footer>

@{ViewData["Title"] = Model.BoardName;}
@section Header {@ViewData["Title"]}

@section scripts {
	<script>
	window.boardId = @Model.BoardId;
	window.page = @Model.Page;
	window.unreadFilter = @Model.UnreadFilter;
	</script>

	<environment include="Development">
		<script src="~/js/TopicIndex.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/TopicIndex.min.js" asp-append-version="true"></script>
	</environment>
}

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/TopicIndex.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/TopicIndex.min.css" asp-append-version="true" />
	</environment>
}