@using Microsoft.Extensions.Options
@inject IOptions<Forum.Services.Plugins.Recaptcha.Recaptcha3Options> RecaptchaOptions
@model LoginPage

<section class="content-box pad">
	<div class="half inline align-middle align-center pad">
		<p><a class="button" asp-action="@nameof(Account.Register)" asp-route-returnurl="@ViewData["Referrer"]">Are you new user?</a></p>
	</div>

	<div class="half inline align-middle border-left pad">
		<p class="subdued-text font-small">Hi, if you're here, then there was a problem with the <a asp-controller="@nameof(Account)" asp-action="@nameof(Account.Login)">standard login page</a>.</p>
		<form method="post"
			  asp-controller="@nameof(Account)"
			  asp-action="@nameof(Account.LoginClassic)"
			  asp-route-returnurl="@ViewData["Referrer"]">

			<div asp-validation-summary="All" class="error"></div>

			<dl>
				<dt>Email Address</dt>
				<dd><input asp-for="@Model.Email" /></dd>
				<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>

				<dt>Password</dt>
				<dd><input asp-for="@Model.Password" /></dd>
				<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>

				<dt><input asp-for="@Model.RememberMe" /> Remember Me</dt>
			</dl>

			<partial name="_Recaptcha2" />

			<p><button>Log in</button></p>
			<p class="subdued-text font-small pad-top"><a asp-action="@nameof(Account.ForgotPassword)">Forgot your password?</a></p>
		</form>
	</div>
</section>

@{ViewData["Title"] = "Warpstorm";}
@section Header {Login}

@section Styles {
	<link rel="stylesheet" href="~/styles/login.css" asp-append-version="true" />
}