@using Microsoft.Extensions.Options
@inject IOptions<Forum.Plugins.Recaptcha.Recaptcha3Options> RecaptchaOptions
@model LoginPage

<section class="content-box pad">
	<form method="post"
		  asp-controller="@nameof(Account)"
		  asp-action="@nameof(Account.Login)"
		  asp-route-returnurl="@ViewData["Referrer"]">

		<div asp-validation-summary="All" class="error hidden"></div>

		<dl>
			<dt>Username (email address)</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error hidden"></span></dd>
		</dl>

		<dl>
			<dt>Password</dt>
			<dd><input asp-for="@Model.Password" /></dd>
			<dd><span asp-validation-for="@Model.Password" class="error hidden"></span></dd>
		</dl>

		<dl>
			<dt><input asp-for="@Model.RememberMe" /> Remember Me</dt>
		</dl>

		<ul>
			<li><button>Log in</button></li>
			<li><a class="button" asp-action="@nameof(Account.Register)" asp-route-returnurl="@ViewData["Referrer"]">Register as a new user?</a></li>
			<li><a class="button" asp-action="@nameof(Account.ForgotPassword)">Forgot your password?</a></li>
		</ul>

		<partial name="_Recaptcha3" />
	</form>

	<p class="gap-top">Problems? Email me: yarbro@outlook.com</p>
</section>

@{ViewData["Title"] = "Warpstorm";}
@section Header {Login}

@section HeadScripts {
	<environment exclude="Development">
		<script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.Recaptcha3SiteKey"></script>
	</environment>
}