@using Microsoft.Extensions.Options
@inject IOptions<Forum.Plugins.Recaptcha.Recaptcha3Options> RecaptchaOptions
@model LoginPage

<section class="content-box pad">
	<p><a class="button" asp-action="@nameof(Account.Register)" asp-route-returnurl="@ViewData["Referrer"]">Are you new user?</a></p>

	<form method="post"
		  asp-controller="@nameof(Account)"
		  asp-action="@nameof(Account.Login)"
		  asp-route-returnurl="@ViewData["Referrer"]">

		<div asp-validation-summary="All" class="error"></div>

		<dl>
			<dt>Email Address</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Password</dt>
			<dd><input asp-for="@Model.Password" /></dd>
			<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>
		</dl>

		<dl>
			<dt><input asp-for="@Model.RememberMe" /> Remember Me</dt>
		</dl>

		<p><button>Log in</button></p>
		<p class="subdued-text font-small pad-top"><a asp-action="@nameof(Account.ForgotPassword)">Forgot your password?</a></p>

		<partial name="_Recaptcha3" />
	</form>
</section>

@{ViewData["Title"] = "Warpstorm";}
@section Header {Login}

@section HeadScripts {
	<environment exclude="Development">
		<script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaOptions.Value.Recaptcha3SiteKey"></script>
	</environment>
}

@section Styles {
	<link rel="stylesheet" href="~/styles/login.css" asp-append-version="true" />
}