@model RegisterPage

<section class="content-box pad">
	<form method="post"
		  asp-controller="@nameof(Account)"
		  asp-action="@nameof(Account.Register)"
		  asp-route-returnurl="@ViewData["Referrer"]">

		<div asp-validation-summary="All" class="error"></div>

		<dl>
			<dt>Display Name</dt>
			<dd><input asp-for="@Model.DisplayName" /></dd>
			<dd><span asp-validation-for="@Model.DisplayName" class="error"></span></dd>
			<dd class="small-pad-top font-small">Special characters are allowed.</dd>
		</dl>

		<dl>
			<dt>Email Address</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
			<dd class="small-pad-top font-small">Your email address <b>requires</b> activation, but is only used to reset your password, and is not shared with any company or anyone besides admins of this site. If you don't trust warpstorm with your real address (smart!), then use a temporary mailbox provider that doesn't require registration, like mailinator.com. Then you can safely reset your password on this site with a throwaway account.</dd>
		</dl>

		<dl>
			<dt>Confirm your email</dt>
			<dd><input asp-for="@Model.ConfirmEmail" /></dd>
			<dd><span asp-validation-for="@Model.ConfirmEmail" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Birthday</dt>
			<dd>
				<select asp-for="@Model.BirthdayYear" asp-items="@Model.BirthdayYears"></select>
				<select asp-for="@Model.BirthdayMonth" asp-items="@Model.BirthdayMonths"></select>
				<select asp-for="@Model.BirthdayDay" asp-items="@Model.BirthdayDays"></select>
			</dd>
			<dd>
				<span asp-validation-for="@Model.BirthdayYear" class="error"></span>
				<span asp-validation-for="@Model.BirthdayMonth" class="error"></span>
				<span asp-validation-for="@Model.BirthdayDay" class="error"></span>
			</dd>
			<dd class="small-pad-top font-small">Your birthday is used to verify you are over 13. We also optionally mark your username on your birthday. This data is used for nothing else, and shared with nobody else. Many users just use Jan 1st of their birth year.</dd>
		</dl>

		<dl>
			<dt>Password</dt>
			<dd><input asp-for="@Model.Password" /></dd>
			<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>

			<dt>Confirm Password</dt>
			<dd><input asp-for="@Model.ConfirmPassword" /></dd>
			<dd><span asp-validation-for="@Model.ConfirmPassword" class="error"></span></dd>
		</dl>

		<partial name="_Recaptcha" />

		<ul>
			<li><button>Register</button></li>
			<li><cancel-button /></li>
		</ul>
	</form>
</section>

@{ViewData["Title"] = "Register";}
@section Header {@ViewData["Title"]}

@section Styles {
	<link rel="stylesheet" href="~/styles/login.css" asp-append-version="true" />
}