@inject UserContext UserContext
@model Forum.Views.Shared.Components.ReactionSelector.ReactionSelectorViewComponent.ReactionSelectorViewModel

<style>
    .reaction-image {
        max-width: 170px;
    }

    [data-component="reaction-selector"] {
        min-width: 200px;
        max-width: 400px;
        padding: 15px;
    }
</style>

<div class='drop-down-menu content-box overflow-scroll-y hidden' data-component='reaction-selector'>
    @if (UserContext.Imgur is null) {
        <div class='pad'>
            <p>It looks like you haven't linked your Imgur account yet in <a class='underline' asp-controller='@nameof(Account)' asp-action='@nameof(Account.Details)' target='_blank'>account settings</a>.</p>
            <p class='small-pad-top'>When you link your Imgur account, Warpstorm will pull your favorites into this box for <span style='color: red'>f</span><span style='color: orange'>a</span><span style='color: green'>n</span><span style='color: blue'>c</span><span style='color: purple'>y</span> reactions.</p>
        </div>
    }
    else {
        <h4>@UserContext.Imgur.ImgurUserName's Favorites</h4>
        <p class="font-small">updated @UserContext.Imgur.FavoritesUpdate.ToPassedTimeString()</p>
        <div class='flex inline-children small-gap-top' data-component="reaction-image-list" data-loaded="0">
            @*<div class='reaction-image' data - id="@item.Id"> <video autoplay loop muted><source src='@item.Path' type='video/mp4' /></video></div>*@
        </div>
    }
</div>

@if (!(UserContext.Imgur is null)) {
    <script>
        if (!window.imgurName) {
            window.imgurName = '@UserContext.Imgur.ImgurUserName';

            window.reactionImages = [
                @foreach (var item in Model.Images) {
                    <text>{ id: '@item.Id', path: '@item.Path' },</text>
                }
            ];
        }
    </script>
}
