@model List<ViewModels.Notifications.IndexItem>

<div id="sidebar-notifications">
	<h4><a asp-controller="@nameof(Notifications)" asp-action="@nameof(Notifications.Index)">Notifications</a></h4>
	<ul class="gap-bottom font-small subdued-text">
		@if (Model.Any()) {
			@foreach (var notification in Model) {
				<li class="glow-left small-gap-bottom small-pad" clickable-link-parent>
					<p>
						@if (notification.Recent) {
							<span class="chiclet chiclet-gold"></span>
						}
						<a asp-controller="@nameof(Notifications)" asp-action="@nameof(Notifications.Open)" asp-route-id="@notification.Id">@Html.Raw(notification.Text)</a>
					</p>
					<p><passed-time time="@notification.Time" /></p>
				</li>
			}
		}
		else {
			<li>None</li>
		}
	</ul>
</div>