@model ViewModels.Quotes.DisplayQuote

@if (Model is ViewModels.Quotes.DisplayQuote) {
	<div id="sidebar-quote">
		<h4>Quote of the Moment:</h4>
		<div class="gap-bottom">
			<div class="content-box small-pad font-small subdued-text" clickable-link-parent>
				<p id="qotm">
					@Html.Raw(Model.DisplayBody)
					<a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id"></a>
				</p>
			</div>
			<p class="font-small subdued-text align-right">@Html.Raw(Model.PostedBy)</p>
		</div>
	</div>
}
