@model DetailsPage

<div class="content-box pad">
	<div class="gap-bottom">
		<form method="post" enctype="multipart/form-data"
			  asp-action="@nameof(Account.UpdateAvatar)">

			<div asp-validation-summary="All" class="error"></div>
			<input type="hidden" asp-for="@Model.Id" />
			<input type="hidden" asp-for="@Model.DisplayName" />
			@if (!string.IsNullOrEmpty(Model.AvatarPath)) {
				<p><img src="@Model.AvatarPath" /></p>
			}
			<p><input asp-for="@Model.NewAvatar" /></p>
			<p asp-validation-for="@Model.NewAvatar" class="error"></p>

			<ul>
				<li><button>Update Avatar</button></li>
			</ul>
		</form>
	</div>
	<hr />
	<div>
		<form method="post"
			  asp-action="@nameof(Account.Details)">

			<div asp-validation-summary="All" class="error"></div>

			<input type="hidden" asp-for="@Model.Id" />

			<dl>
				<dt>Display Name</dt>
				<dd><input asp-for="@Model.DisplayName" /></dd>
				<dd><span asp-validation-for="@Model.DisplayName" class="error"></span></dd>
			</dl>

			<dl>
				<dt>Email</dt>
				<dd><input asp-for="@Model.Email" /></dd>
				@if (!Model.EmailConfirmed) {
					<dd><a asp-action="@nameof(Account.SendVerificationEmail)" class="button">Send verification email</a></dd>
				}
				<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
			</dl>

			<dl>
				<dt>Birthday</dt>
				<dd>
					<select asp-for="@Model.BirthdayYear" asp-items="@Model.BirthdayYears"></select>
					<select asp-for="@Model.BirthdayMonth" asp-items="@Model.BirthdayMonths"></select>
					<select asp-for="@Model.BirthdayDay" asp-items="@Model.BirthdayDays"></select>
				</dd>
				<dd>
					<span asp-validation-for="@Model.BirthdayYear" class="error"></span>
					<span asp-validation-for="@Model.BirthdayMonth" class="error"></span>
					<span asp-validation-for="@Model.BirthdayDay" class="error"></span>
				</dd>
			</dl>

			@if(Model.Settings.Any()) {
				<dl>
					<dt>Site Settings</dt>
					<dd>
						<ol>
							@for (int i = 0; i < Model.Settings.Count; i++) {
							<li>
								<input asp-for="@Model.Settings[i].Key" type="hidden" />
								<span class="note">@Model.Settings[i].Display</span>

								@if (Model.Settings[i].Options.Any()) {
									<select asp-for="@Model.Settings[i].Value" asp-items="@Model.Settings[i].Options"></select>
								}
								else {
									<input asp-for="@Model.Settings[i].Value" value="" placeholder="@Model.Settings[i].Value" />
								}

								<img src="~/images/thought.png" title="@Model.Settings[i].Description" />
								<span asp-validation-for="@Model.Settings[i].Value" class="error"></span>
							</li>
							}
						</ol>
					</dd>
				</dl>
			}

			<dl>
				<dt>New Password <span class="note">(Optional)</span></dt>
				<dd><input asp-for="@Model.NewPassword" /></dd>
				<dd><span asp-validation-for="@Model.NewPassword" class="error"></span></dd>
			</dl>

			<dl>
				<dt>Current Password <span class="note">(Required for all changes)</span></dt>
				<dd><input asp-for="@Model.Password" /></dd>
				<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>
			</dl>

			<ul>
				<li><button>Save Details</button></li>
				<li><a href="@ViewData["Referrer"]" class="button">Cancel</a></li>
			</ul>
		</form>

		<p class="gap-top"><a class="note" asp-action="@nameof(Account.Delete)" asp-route-userId="@Model.Id" onclick="return confirm('Delete your account? Are you really sure??');">Delete Account</a></p>
	</div>
</div>

@{ ViewData["Title"] = $"{Model.DisplayName}'s Account Details"; }
@section Header {@ViewData["Title"]}