@model LoginPage

<section class="content-box pad">
	<form method="post"
		  asp-controller="@nameof(Account)"
		  asp-action="@nameof(Account.Login)"
		  asp-route-returnurl="@ViewData["Referrer"]">

		<div asp-validation-summary="All" class="error"></div>

		<dl>
			<dt>Username (email address)</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Password</dt>
			<dd><input asp-for="@Model.Password" /></dd>
			<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>
		</dl>

		<dl>
			<dt><input asp-for="@Model.RememberMe" /> Remember Me</dt>
		</dl>

		<div class="g-recaptcha" data-sitekey="@Options.Value.RecaptchaSiteKey"></div>

		<ul>
			<li><button>Log in</button></li>
			<li><a class="button" asp-action="@nameof(Account.Register)" asp-route-returnurl="@ViewData["Referrer"]">Register as a new user?</a></li>
			<li><a class="button" asp-action="@nameof(Account.ForgotPassword)">Forgot your password?</a></li>
		</ul>
	</form>

	<p class="gap-top note">If you keep getting kicked back to this login page even after logging in correctly, try deleting the cookies for this site.</p>
	<p class="note">How? See <a href="https://7labs.io/tips-tricks/clear-site-specific-cookies-cache.html">this page</a>. Otherwise, just email me at yarbro@outlook.com</p>
</section>

@{ViewData["Title"] = "Login";}
@section Header {@ViewData["Title"]}

@section Head {
<environment exclude="Development">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</environment>
}