@model ViewModels.ResetPasswordPage

<section class="content-box pad">
    <form method="post"
		  asp-route-returnurl="@ViewData["Referrer"]">

        <div asp-validation-summary="All" class="error"></div>

        <input asp-for="Code" type="hidden" />

		<dl>
			<dt>Email</dt>
			<dd><input asp-for="@Model.Email" /></dd>
			<dd><span asp-validation-for="@Model.Email" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Password</dt>
			<dd><input asp-for="@Model.Password" /></dd>
			<dd><span asp-validation-for="@Model.Password" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Confirm Password</dt>
			<dd><input asp-for="@Model.ConfirmPassword" /></dd>
			<dd><span asp-validation-for="@Model.ConfirmPassword" class="error"></span></dd>
		</dl>

		<ul>
			<li><button>Reset</button></li>
		</ul>
    </form>
</section>

@{ ViewData["Title"] = $"Reset your password"; }
@section Header {@ViewData["Title"]}
