@model List<List<ViewModels.Smileys.IndexItem>>

<div class="drop-down-menu content-box overflow-scroll-y hidden" data-component="smiley-selector">
    <div class="flex flex-justify-start">
        @foreach (var smileyColumn in Model)
        {
            <ul>
                @foreach (var smiley in smileyColumn)
                {
                    <li class="align-center"><img src="@smiley.Path" data-component="smiley-image" smiley-id="@smiley.Id" code="@smiley.Code" alt="@smiley.Thought" title="@smiley.Thought" /></li>
                }
            </ul>
        }
    </div>
</div>
