@inject Forum3.Services.ContextUserFactory ContextUserFactory

@*
	TODO - to be imported
@{
    if (Request.IsAuthenticated) {
        var notifications = (NotificationList) ViewBag.Notifications;

        ViewBag.NotificationCount = notifications.NotificationCount;
        ViewBag.NotificationButtonClasses = "smallButton";

        if (notifications.NotificationCount > 0) {
            ViewBag.NotificationButtonClasses += " highlight";
        }
    }
}*@

@{ 
	var contextUser = ContextUserFactory.GetContextUser();
}

<header id="page-header" class="margin-center align-center">
	<div id="page-title"><a href="/"><img src=@ViewData["LogoPath"] alt="Warpstorm" /></a></div>

	<nav>
		<ul class="float-right">
			@if (contextUser.IsAuthenticated) {
		<li>
			@Html.ActionLink("Boards", "Index", "Boards", null, new { @class = "smallButton" })
		</li>
			<li>
				@Html.ActionLink("Topics", "Index", "Topics", new { id = "" }, new { @class = "smallButton" })
			</li>

			@if (contextUser.IsAdmin) {
			<li>
				<a href="@Url.Action("Dashboard", "Admin")" class="smallButton highlight">
					<span class="icon-wrench"></span> Admin
				</a>
			</li>}

				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()" class="smallButton" onclick="return confirm('Are you sure you want to logout?');">
						<span class="icon-exit"></span> Log off
					</a>
				</li>}
			else {
			<li>
				<a class="smallButton" asp-action="@nameof(Authentication.Register)" asp-controller="@nameof(Authentication)">
					<span class="icon-sun"></span> Register
				</a>
			</li>
			<li>
				<a class="smallButton" asp-action="@nameof(Authentication.Login)" asp-controller="@nameof(Authentication)">
					<span class="icon-enter"></span> Log in
				</a>
			</li>}
		</ul>

		<div id="login" class="float-left">
			@if (contextUser.IsAuthenticated) {
		<span><a asp-controller="Profile" asp-action="Manage">Welcome back, @contextUser.ApplicationUser.DisplayName</a></span>

			<a href="@Url.Action("Index", "Notification")" class="@ViewBag.NotificationButtonClasses">
				<span class="icon-flag"></span> @ViewBag.NotificationCount
			</a>}
			else {
			<span>
				Welcome Guest! Please
				<a asp-action="@nameof(Authentication.Register)" asp-controller="@nameof(Authentication)">register</a>
				or
				<a asp-action="@nameof(Authentication.Login)" asp-controller="@nameof(Authentication)">log in</a>.
			</span>}
		</div>

		<br class="clear" />
	</nav>
</header>

<form asp-area="" asp-controller="@nameof(Authentication)" asp-action="@nameof(Authentication.Logout)" method="post" id="logoutForm" class="navbar-right"></form>