@inject Forum3.Services.ContextUserFactory ContextUserFactory

@*
	TODO - to be imported
@{
    if (Request.IsAuthenticated) {
        var notifications = (NotificationList) ViewBag.Notifications;

        ViewBag.NotificationCount = notifications.NotificationCount;
        ViewBag.NotificationButtonClasses = "small-button";

        if (notifications.NotificationCount > 0) {
            ViewBag.NotificationButtonClasses += " highlight";
        }
    }
}*@

@{ 
	var contextUser = ContextUserFactory.GetContextUser();
}

<header id="page-header" class="margin-center align-center">
	<div id="page-title"><a href="/"><img src=@ViewData["LogoPath"] alt="Warpstorm" /></a></div>

	<nav class="small-pad">
		<ul class="float-right inline">
			@if (contextUser.IsAuthenticated) {
				<li><a asp-controller="@nameof(Boards)" asp-action="@nameof(Boards.Index)" class="small-button">Boards</a></li>
				<li><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" class="small-button">Topics</a></li>

				@if (contextUser.IsAdmin) {
					<li class="open-menu">
						<span class="small-button pointer">Admin</span>
						<div class="drop-down-menu-wrapper">
							<ul class="drop-down-menu content-box">
								<li clickable-link-parent><a asp-controller="@nameof(Boards)" asp-action="@nameof(Boards.Manage)">Boards</a></li>
								<li clickable-link-parent><a asp-controller="@nameof(Roles)" asp-action="@nameof(Roles.Index)">Roles</a></li>
								<li clickable-link-parent><a asp-controller="@nameof(Smileys)" asp-action="@nameof(Smileys.Index)">Smileys</a></li>
								<li>Settings</li>
								<li>Users</li>
							</ul>
						</div>
					</li>
				}

				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()" class="small-button" onclick="return confirm('Are you sure you want to logout?');">
						Log off
					</a>
				</li>}
			else {
			<li>
				<a class="small-button" asp-action="@nameof(Authentication.Register)" asp-controller="@nameof(Authentication)">
					Register
				</a>
			</li>
			<li>
				<a class="small-button" asp-action="@nameof(Authentication.Login)" asp-controller="@nameof(Authentication)">
					Log in
				</a>
			</li>}
		</ul>

		<div id="login" class="float-left">
			@if (contextUser.IsAuthenticated) {
				<span><a asp-controller="Profile" asp-action="Manage">Welcome back, @contextUser.ApplicationUser.DisplayName</a></span>
			}
			else {
				<span>
					Welcome Guest! Please
					<a asp-action="@nameof(Authentication.Register)" asp-controller="@nameof(Authentication)">register</a>
					or
					<a asp-action="@nameof(Authentication.Login)" asp-controller="@nameof(Authentication)">log in</a>.
				</span>
			}
		</div>

		<br class="clear" />
	</nav>
</header>

<form asp-area="" asp-controller="@nameof(Authentication)" asp-action="@nameof(Authentication.Logout)" method="post" id="logoutForm" class="navbar-right"></form>