@model Forum3.Interfaces.Models.ViewModels.IMessageViewModel

<div>
	<div asp-validation-summary="ModelOnly"></div>

    <form method="post"
          asp-action="@Model.FormAction" 
          asp-controller="@Model.FormController"
          asp-route-returnurl="@Model.CancelPath">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div>
            <p><textarea asp-for="Body"></textarea></p>
            <p><span asp-validation-for="Body" /></p>
        </div>

        <p>
            <button>Save</button>

            @if (!string.IsNullOrEmpty(Model.CancelPath)) {
                <a class="button" href="@Model.CancelPath">Cancel</a>
            }
        </p>
    </form>
</div>