@model List<ViewModels.Profile.OnlineUser>

<h4>Who's online <span class="note">(@Model.Count)</span></h4>
<ul id="whos-online">
	<li class="note"><a asp-controller="@nameof(Account)" asp-action="@nameof(Account.Index)">View All Users</a></li>
	@foreach (var onlineUser in Model) {
		<li class="note nowrap small-pad-top">
			@if (onlineUser.Online) {
				<span class="chiclet chiclet-green"></span>
			}
			<span>@onlineUser.Name</span>
			<time>@onlineUser.LastOnlineString</time>
		</li>
	}
</ul>