@model List<List<ViewModels.Smileys.IndexItem>>

<div id="smiley-selector">
	<div class="content-box overflow-scroll-y">
		@foreach (var smileyColumn in Model) {
			<ul>
				@foreach (var smiley in smileyColumn) {
					<li><img src="@smiley.Path" smiley-id="@smiley.Id" code="@smiley.Code" alt="@smiley.Thought" title="@smiley.Thought" /></li>
				}
			</ul>
		}
	</div>
</div>

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/SmileySelector.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/SmileySelector.min.css" asp-append-version="true" />
	</environment>
}