@model ExternalLoginConfirmationViewModel

<section class="content-box pad">
    <form method="post"
          asp-controller="@nameof(Authentication)"
          asp-action="@nameof(Authentication.ExternalLoginConfirmation)" 
          asp-route-returnurl="@ViewData["ReturnUrl"]">

        <div asp-validation-summary="All" class="error"></div>

        <p>You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.</p>
        <p>Please enter an email address for this site below and click the Register button to finish logging in.</p>

        <dl>
            <dt>Username (email address)</dt>
            <dd><input asp-for="Email" /></dd>
            <dd><span asp-validation-for="Email" class="error"></span></dd>
        </dl>

        <ul>
            <li><button>Register</button></li>
        </ul>
    </form>
</section>

@{ViewData["Title"] = "Register";}

@section Header {
    <p>@ViewData["Title"]</p>
    <p class="note">Associate your @ViewData["LoginProvider"] account.</p>
}