@model ViewModels.Sidebar.Quote

@if (Model is ViewModels.Sidebar.Quote) {
	<h4>Quote of the Moment:</h4>
	<div class="gap-bottom">
		<div class="content-box small-pad note" clickable-link-parent>
			<p id="qotm">
				@Model.Body
				<a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Latest)" asp-route-id="@Model.Id"></a>
			</p>
		</div>
		<p class="note align-right">- @Model.PostedBy</p>
	</div>
}