@model IndexBoard

<div class="table-row">
	<div class="table-cell pad pointer boardInfo" clickableLinkParent>
		<p>
			<a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@Model.Id">
				@Model.Name

				@if (Model.Unread) {
					<span class="small-button">Unread</span>
				}
			</a>
		</p>
		<p class="note small-pad-left">@Model.Description</p>
	</div>

	<div class="table-cell lastPost pointer" clickableLinkParent>
		@if (Model.LastMessage != null) {
			<p>
				<a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Latest)" asp-route-id="@Model.LastMessage.Id" asp-fragment="latest">
					@Html.Raw(Model.LastMessage.ShortPreview)
				</a>
			</p>
			<p class="note">by @Model.LastMessage.LastReplyByName, <time>@Model.LastMessage.LastReplyPosted</time></p>
		}
	</div>
</div>