@model IndexCategory

<div class="category">
	<h3>@Model.Name</h3>

	<div class="table">
		@foreach (var child in Model.Boards) {
			<div class="table-row board">
				<div class="table-cell boardInfo">
					<a asp-controller="Topics" asp-action="Index" asp-route-id="@child.Id">
						@child.Name
						@if (child.Unread) {
							<span class="smallButton subtleButton">Unread</span>
						}
					</a>
				</div>

				@if (child.LastMessage != null) {
					<div class="table-cell lastPost">
						<p>
							<a asp-controller="Topics" asp-action="Display" asp-route-id="@child.LastMessage.Id" asp-fragment="latest">
								@Html.Raw(child.LastMessage.ShortPreview)
							</a>
						</p>
						<p>by @child.LastMessage.LastReplyByName, <time>@child.LastMessage.LastReplyPosted</time></p>
					</div>
					}
			</div>
		}
	</div>
</div>