@model IndexCategory

<div class="category pad gap">
	<h3>
		@Model.Name (todo - add ability to rename here)
		@if (Model.DisplayOrder != 1) {
			<a asp-controller="@nameof(Boards)" asp-action="@nameof(Boards.MoveCategoryUp)" asp-route-id="@Model.Id" class="borderless spaced"><img alt="Move up" src="~/images/upArrow.png" /></a>
		}
	</h3>

	<hr />

	<div class="table">
		@foreach (var child in Model.Boards) {
			<div class="table-row board">
				<div class="table-cell boardName pad">
					<span>@child.Name</span>
				</div>
				<div class="table-cell boardInfo pad">
					<a asp-controller="Boards" asp-action="MoveUp" asp-route-id="@child.Id" class="borderless spaced"><img alt="Move up" src="~/images/upArrow.png" /></a>
					<a asp-controller="Boards" asp-action="Update" asp-route-id="@child.Id" class="borderless spaced"><img alt="Update" src="~/images/edit.png" /></a>
					<a asp-controller="Boards" asp-action="Delete" asp-route-id="@child.Id" class="borderless spaced"><img alt="Delete" src="~/images/delete.png" /></a>
					<img src="~/images/join.png" boardId="@child.Id" class="mergeBoard borderless spaced" />
				</div>
			</div>
		}
	</div>
</div>