@model IndexCategory

<div class="category">
	<h3>
		@Model.Name (todo - add ability to rename here)
		@if (Model.DisplayOrder != 1) {
			<a asp-controller="Boards" asp-action="MoveCategoryUp" asp-route-id="@Model.Id"><img alt="Move up" src="~/images/upArrow.png" /></a>
		}
	</h3>

	<div class="table">
		@foreach (var child in Model.Boards) {
		<div class="table-row board">
			<div class="table-cell boardInfo">
				@child.Name
				<a asp-controller="Boards" asp-action="MoveUp" asp-route-id="@Model.Id"><img alt="Move up" src="~/images/upArrow.png" /></a>
				<img class="mergeBoard" src="/Content/Images/join.png" boardId="@Model.Id" />
				<a asp-controller="Boards" asp-action="Update" asp-route-id="@Model.Id"><img alt="Update" src="~/images/edit.png" /></a>
				<a asp-controller="Boards" asp-action="Delete" asp-route-id="@Model.Id"><img alt="Delete" src="~/images/delete.png" /></a>
			</div>
		</div>
		}
	</div>
</div>