@model CreatePage

<div class="content-box pad">
	<form method="post"
			asp-action="@nameof(Boards.Create)"
			asp-controller="@nameof(Boards)">

		<div asp-validation-summary="All" class="text-danger"></div>

		<dl>
			<dt>Name</dt>
			<dd><input type="text" asp-for="@Model.Name" /></dd>
			<dd><span asp-validation-for="@Model.Name" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Description</dt>
			<dd><textarea asp-for="@Model.Description"></textarea></dd>
			<dd><span asp-validation-for="@Model.Description" class="error"></span></dd>
		</dl>

		<dl>
			<dt>Category</dt>
			<dd>
				<select asp-for="@Model.Category" asp-items="@Model.Categories">
					<option value="" disabled selected style="display: none;">Please select an existing category</option>
				</select>
			</dd>
			<dd>Or add a new one: <input asp-for="@Model.NewCategory" /></dd>
		</dl>

		<ul>
			<li><button>Create</button></li>
		</ul>
	</form>
</div>

@{ ViewData["Title"] = "Create a Board"; }
@section Header {@ViewData["Title"]}