@model CreatePage

@{ ViewBag.Title = "Create Board"; }

<div>
    <h1>@ViewBag.Title</h1>

    <div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </p>

            <p>
                Vetted Only:
                @Html.EditorFor(model => model.VettedOnly)
            </p>

            <p>Parent:</p>
            <p>
                <select asp-for="Parent" asp-items="Model.Parents">
                    <option value="" disabled selected style="display: none;">Please select a parent</option>
                </select>
                @Html.ValidationMessageFor(model => model.Parent)
            </p>

            <p><input type="submit" value="Create" /></p>
        }
    </div>
</div>