@model EditPage

@{ ViewBag.Title = "Edit Board"; }

<h1>@ViewBag.Title</h1>

<div class="content-box pad">
	<form method="post"
			asp-action="@nameof(Forum3.Controllers.Boards.Edit)"
			asp-controller="@nameof(Forum3.Controllers.Boards)">

		<p class="gap-top">
			<span>Name:</span>
			<input type="text" asp-for="@Model.Name" />
		</p>
		<p asp-validation-for="@Model.Name"></p>

		<p class="gap-top">
			Vetted Members Only:
			<input asp-for="@Model.VettedOnly" type="checkbox" />
		</p>

		<p class="gap-top">
			Category:
			<select asp-for="@Model.Category" asp-items="@Model.Categories">
				<option value="" disabled selected style="display: none;">Please select an existing category</option>
			</select>
		</p>
		<p>Or add a new one: <input asp-for="@Model.NewCategory" /></p>

		<p class="gap-top"><input type="submit" value="Save Changes" /></p>
	</form>
</div>
