@model IndexPage

<div id="side-bar" class="pad overflow-hidden float-right">
	@if (Model.Birthdays.Count() > 0) {
		<h4><img src="/Content/Smileys/birthday.gif" /> Happy birthday!</h4>
		<ul class="gap-bottom">
			@foreach (var birthdayPerson in Model.Birthdays) {
				<li>@birthdayPerson</li>
			}
		</ul>
	}
			
	<h4>Notifications</h4>
	<ul class="gap-bottom">
		@if (Model.Notifications.Any()) {
			@foreach (var notification in Model.Notifications) {
				<li class="note">
					<p>@notification.Text</p>
					<p><time>@notification.Time</time></p>
				</li>
				@*<li><a asp-controller="@nameof(Notifications)" asp-action="@nameof(Notifications.Open)" asp-route-id="@notification.Id">@notification.Text</a></li>*@
			}
		}
		else {
			<li>None</li>
		}
	</ul>

	<h4>Who's online this week</h4>
	<ul>
		@foreach (var onlineUser in Model.OnlineUsers) {
			<li class="note">
				<p>
					@if (onlineUser.Online) {
						<span class="chiclet chiclet-green"></span>
					}
					<span>@onlineUser.Name</span>
				</p>
				<p><time>@onlineUser.LastOnlineString</time></p>
			</li>
		}
	</ul>
</div>

<div id="categories">
	@foreach (var indexCategory in Model.Categories) {
		@await Html.PartialAsync("_IndexCategory", indexCategory)
	}
</div>

@{ViewData["Title"] = "Warpstorm";}

@section styles {
	<environment names="Development">
		<link rel="stylesheet" href="~/css/Pages/BoardIndex.css" asp-append-version="true" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/css/min/BoardIndex.min.css" asp-append-version="true" />
	</environment>
}