@model IndexPage

@{
	ViewData["Title"] = "Board Management";
}

<h1 class="pad-left">@ViewData["Title"]</h1>

@Html.ValidationSummary()

@foreach (var category in Model.Categories) {
	<partial name="_ManageItem" for="@category" />
}

@section PageActions {
	<p>
		<a asp-controller="@nameof(Boards)" asp-action="@nameof(Boards.Create)" class="button">Create Board</a>
	</p>
}

@section scripts {
	<script>
		window.pageActions = 'manage-boards';
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/manage-boards.css" asp-append-version="true" />
}