@model IndexPage

@{
	ViewData["Title"] = "Board Management";
}

<h1 class="pad-left">@ViewData["Title"]</h1>

@Html.ValidationSummary()

@foreach (var category in Model.Categories) {
	<partial name="_ManageItem" for="@category" />
}

@section PageActions {
	<p>
		<a asp-controller="@nameof(Boards)" asp-action="@nameof(Boards.Create)" class="button">Create Board</a>
	</p>
}

@section scripts {
	<environment include="Development">
		<script src="~/js/Pages/ManageBoards.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/min/ManageBoards.min.js" asp-append-version="true"></script>
	</environment>
}

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/ManageBoards.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/ManageBoards.min.css" asp-append-version="true" />
	</environment>
}