@model MessagePreview

<div class="content-box gap hover-highlight">
	<div class="details pad" clickable-link-parent>
		<p>
			<a asp-action="@nameof(Topics.Latest)" asp-route-id="@Model.Id">
				@Html.Raw(Model.ShortPreview)
				@if (Model.Popular) {
					<img src="~/images/flame.png" title="Popular" />
				}
				@if (Model.Unread == 1 || Model.Unread == 2) {
					<span class="small-button">new</span>
				}
			</a>
		</p>
		<div class="font-small subdued-text pad-left small-pad-top">
			<p>
				Started <passed-time time="@Model.TimePosted" /> by @Model.PostedByName.
			</p>

			@if (Model.LastReplyId != Model.Id) {
				<p>
					Last reply was <passed-time time="@Model.LastReplyPosted" /> by @Model.LastReplyByName.
				</p>
			}

			<p class="small-pad-top dark-text">
				@if (Model.Views == 0) {
					<text>No views yet</text>
				}
				else if (Model.Views == 1) {
					<text>1 view</text>
				}
				else {
					@Model.Views <text> views</text>
				}

				&nbsp;

				@if (Model.Replies == 0) {
					<text>No replies yet</text>
				}
				else if (Model.Replies == 1) {
					<text>1 reply</text>
				}
				else {
					@Model.Replies <text> replies</text>
				}

				&nbsp;

				@if (Model.Pages > 1) {
					<text>Pages:</text>
					for (var i = Model.Pages - 4; i <= Model.Pages; i++) {
						if (i <= 0) {
							continue;
						}

						<a class="small-pad-left hover-underline" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i">@i</a>
					}
				}
			</p>
		</div>
	</div>
</div>