@model MessagePreview

<div class="content-box gap hover-highlight">
	<div class="details full-details small-pad" clickable-link-parent>
		<div class="topic-info mobile-hide float-right font-small subdued-text">
			<p>Started <passed-time time="@Model.TimePosted" /> by @Html.Raw(Model.PostedByName).</p>

			@if (Model.LastReplyId != Model.Id) {
				<p>Last reply was <passed-time time="@Model.LastReplyPosted" /> by @Html.Raw(Model.LastReplyByName).</p>
			}

			<p>
				@if (Model.Pages <= 1) {
					<text>1 page</text>
				}
				else {
					@Model.Pages <text> pages</text>
				}

				&nbsp;

				@if (Model.Views == 1) {
					<text>1 view</text>
				}
				else {
					@Model.Views <text> views</text>
				}

				&nbsp;

				@if (Model.Replies == 1) {
					<text>1 reply</text>
				}
				else {
					@Model.Replies <text> replies</text>
				}
			</p>
		</div>

		<p class="small-pad-top small-pad-left">
			<a asp-action="@nameof(Topics.Latest)" asp-route-id="@Model.Id">
				@Html.Raw(Model.ShortPreview)
				@if (Model.Popular) {
					<img src="~/images/flame.png" title="Popular" />
				}
				@if (Model.Unread == 1 || Model.Unread == 2) {
					<span class="small-button">new</span>
				}
			</a>
		</p>

		<div class="mobile-only font-small subdued-text pad-left">
			<p>Started <passed-time time="@Model.TimePosted" /> by @Html.Raw(Model.PostedByName).</p>

			@if (Model.LastReplyId != Model.Id) {
				<p>Last reply was <passed-time time="@Model.LastReplyPosted" /> by @Html.Raw(Model.LastReplyByName).</p>
			}

			<p>
				@if (Model.Pages <= 1) {
					<text>1 page</text>
				}
				else {
					@Model.Pages <text> pages</text>
				}

				&nbsp;

				@if (Model.Views == 1) {
					<text>1 view</text>
				}
				else {
					@Model.Views <text> views</text>
				}

				&nbsp;

				@if (Model.Replies == 1) {
					<text>1 reply</text>
				}
				else {
					@Model.Replies <text> replies</text>
				}
			</p>
		</div>

		<p class="small-pad-left small-pad-top subdued-text font-small">
			@foreach (var board in Model.Boards) {
				<a class="small-button subdued-button subdued-text" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@board.Id">@board.Name</a>
			}
		</p>
	</div>
</div>