@model ViewModels.Topics.Pages.CreateTopicForm

<div asp-validation-summary="All" class="error"></div>

<div id="board-selector" class="float-right content-box pad">
	<ul>
		@if (ViewData["Categories"] is List<ViewModels.Boards.Items.IndexCategory>) {
			foreach (var category in ViewData["Categories"] as List<ViewModels.Boards.Items.IndexCategory>) {
				<li class="gap-bottom">
					<span class="font-small subdued-text">@category.Name</span>
					<ul>
						@for (var i = 0; i < category.Boards.Count; i++) {
							var checkbox = Model.BoardId == category.Boards[i].Id ? "checked" : "unchecked";

							<li class="hover-highlight pointer" toggle-board board-id="@category.Boards[i].Id" title="@category.Boards[i].Description">
								<img src="~/images/checkbox_@(checkbox).png" board-flag="@category.Boards[i].Id" />
								@category.Boards[i].Name
							</li>
						}
					</ul>
				</li>
			}
		}
	</ul>
	<hr />
	<p class="font-small subdued-text">Select which boards your topic will appear in.</p>
</div>

<div id="message-form" class="content-box pad">
	<partial name="_MessageForm" for="@Model" />
</div>

@{ViewData["Title"] = "Create a Topic";}
@section Header {@ViewData["Title"]}

@section scripts {
	<script>
		window.assignedBoards = ["@Model.BoardId"];
		window.pageActions = 'message-create';
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/message-create.css" asp-append-version="true" />
}