@model TopicDisplayPage

<header id="topic-header" class="topic-header content-box pad clear-left">
	@if (User.Identity.IsAuthenticated) {
		<span class="bookmark-button">
			@{var bookmarkImage = Model.IsBookmarked ? "bookmark_on" : "bookmark_off";}
			<a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Bookmark)" asp-route-id="@Model.Id"><img src="~/images/@(bookmarkImage).png" title="Bookmark this topic" alt="Bookmark" /></a>
		</span>

		<nav class="float-right">
			<ul class="inline">
				@if (Model.IsOwner || Model.IsAdmin) {
					<li class="open-menu open-menu-hover">
						<span class="small-button">Boards</span>
						<div class="menu-wrapper hidden">
							<ul class="drop-down-menu content-box">
								@foreach (var category in Model.Categories) {
									<li class="small-pad-bottom">
										<p class="font-small subdued-text small-pad-bottom">@category.Name</p>
										<ul>
											@foreach (var board in category.Boards) {
												<li class="hover-highlight" toggle-board board-id="@board.Id">
													@if (Model.AssignedBoards.Any(b => b.Id == board.Id)) {
														<img src="~/images/checkbox_checked.png" board-flag="@board.Id" />
													}
													else {
														<img src="~/images/checkbox_unchecked.png" board-flag="@board.Id" />
													}
													@board.Name
												</li>
											}
										</ul>
									</li>
								}
							</ul>
						</div>
					</li>
				}
				@if (Model.IsAdmin) {
					<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Merge)" asp-route-id="@Model.Id">Merge</a></li>
					<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Pin)" asp-route-id="@Model.Id">@(Model.IsPinned ? "Unpin" : "Pin")</a></li>
				}
				<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.MarkUnread)" asp-route-id="@Model.Id">Mark as Unread</a></li>
			</ul>
		</nav>
	}

	<section>
		<p class="font-small subdued-text">
			<span class="nowrap">
				@Model.ViewCount views
			</span>

			<span class="small-pad-left nowrap">
				@Model.ReplyCount
				@if (Model.ReplyCount == 1) {
					<text>reply</text>
				}
				else {
					<text>replies</text>
				}
			</span>
		</p>
		<ul class="inline pages">
			<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
			@for (var i = 1; i <= Model.TotalPages; i++) {
				if (Model.CurrentPage == i) {
					<li class="small-button highlight page hidden">@i</li>
				}
				else {
					<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-page="@i" class="small-button" data-page="@i">@i.ToString()</a></li>
				}
			}
			<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
		</ul>
	</section>
</header>

<header id="board-list" class="topic-header content-box pad gap-bottom clear-left">
	@if (Model.AssignedBoards.Any()) {
		foreach (var board in Model.AssignedBoards) {
			<a asp-action="@nameof(Topics.Index)" asp-controller="@nameof(Topics)" asp-route-id="@board.Id" class="small-button light-text">@board.Name</a>
		}
	}
</header>

<div id="message-list">
	@for (var i = 0; i < Model.Messages.Count(); i++) {
		<partial name="../Messages/_DisplayMessage" for="@Model.Messages[i]" />
	}
</div>

<div id="loading-message" class="hidden pad-bottom font-small"><img src="~/images/loadingDots.gif" alt="Loading new message" title="Loading new message" /> Loading messages...</div>

<footer id="topic-footer" class="pad-left">
	<ul class="inline pages">
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
		@for (var i = 1; i <= Model.TotalPages; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-page="@i" class="small-button" data-page="@i">@i.ToString()</a></li>
			}
		}
		<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
	</ul>
</footer>

<div class="topic-reply-form @(Model.TotalPages == Model.CurrentPage ? "" : "hidden")">
	<p class="gap-top">Reply to this topic:</p>
	<div class="content-box pad">
		<div asp-validation-summary="All" class="error"></div>
		<partial name="../Messages/_MessageForm" for="@Model.ReplyForm" />
	</div>
</div>

@{ViewData["Title"] = Html.Raw(Model.Subject);}
@section Header {@ViewData["Title"]}

@section scripts {
	<script>
		window.latest = @DateTime.Now.Ticks;
		window.topicId = @Model.Id;
		window.pageActions = 'topic-display';
		window.bookmarked = '@Model.IsBookmarked' == 'True';
		window.currentPage = @Model.CurrentPage;
		window.totalPages = @Model.TotalPages;
		window.showFavicons = @Model.ShowFavicons.ToString().ToLower();
		window.togglePath = '@Url.Action(nameof(Topics.ToggleBoard), nameof(Topics), new { TopicId = Model.Id })';
		window.assignedBoards = ['@(string.Join("', '", Model.AssignedBoards.Select(b => b.Id)))'];
		window.messages = [@(string.Join(", ", Model.Messages.Select(b => b.Id)))];
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/topic-display.css" asp-append-version="true" />
}