@model TopicDisplayPage

<header id="topic-header" class="content-box pad gap-bottom">
	@if (User.Identity.IsAuthenticated) {
		<nav class="float-right">
			<ul class="inline">
				<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.MarkUnread)" asp-route-id="@Model.Id">Mark as Unread</a></li>
				<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Pin)" asp-route-id="@Model.Id">Pin</a></li>
				<li><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Merge)" asp-route-id="@Model.Id">Merge</a></li>
				@if (Model.CanManage) {
					<li class="open-menu">
						<span class="small-button">Boards</span>
						<div class="menu-wrapper hidden">
							<ul class="drop-down-menu content-box">
								@foreach (var category in Model.Categories) {
									<li class="small-pad-bottom">
										<p class="note small-pad-bottom">@category.Name</p>
										<ul>
											@foreach (var board in category.Boards) {
												<li class="hover-highlight" toggle-board board-id="@board.Id">
													@if (Model.AssignedBoards.Any(b => b.Id == board.Id)) {
														<img src="~/images/checkbox_checked.png" board-flag="@board.Id" />
													}
													else {
														<img src="~/images/checkbox_unchecked.png" board-flag="@board.Id" />
													}
													@board.Name
												</li>
											}
										</ul>
									</li>
								}
							</ul>
						</div>
					</li>
				}
			</ul>
		</nav>
	}

	<section>
		<p class="note">
			<span>
				@Model.ViewCount views
			</span>

			<span class="small-pad-left">
				@Model.ReplyCount
				@if (Model.ReplyCount == 1) {
					<text>reply</text>
				}
				else {
					<text>replies</text>
				}
			</span>

			<span class="small-pad-left">
				Boards:
				@if (Model.AssignedBoards.Any()) {
					foreach (var board in Model.AssignedBoards) {
						<a asp-action="@nameof(Topics.Index)" asp-controller="@nameof(Topics)" asp-route-id="@board.Id" class="small-button">@board.Name</a>
					}
				}
			</span>
		</p>
		<ul class="inline pages">
			<li class="note pointer unhide-pages">Pages: </li>
			<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
			@for (var i = 1; i <= Model.TotalPages; i++) {
				if (Model.CurrentPage == i) {
					<li class="small-button highlight page hidden">@i</li>
				}
				else {
					<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
				}
			}
			<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
		</ul>
	</section>
</header>

<br class="clear" />

<div asp-validation-summary="All" class="error"></div>

<div id="message-list">
	@for (var i = 0; i < Model.Messages.Count(); i++) {
		<partial name="_DisplayItem" for="@Model.Messages[i]" />
	}
</div>

<div id="loading-message" class="hidden pad-bottom note"><img src="~/images/loadingDots.gif" alt="Loading new message" title="Loading new message" /> Loading messages...</div>

<footer>
	<ul class="inline pages">
		<li class="note pointer unhide-pages">Pages: </li>
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>
		@for (var i = 1; i <= Model.TotalPages; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Display)" asp-route-id="@Model.Id" asp-route-pageId="@i" class="small-button">@i.ToString()</a></li>
			}
		}
		<li class="hidden pointer unhide-pages more-pages-after">&#8230;</li>
	</ul>
</footer>

<p class="gap-top">Reply to Thread:</p>
<div class="content-box pad">
	<partial name="_MessageForm" for="@Model.ReplyForm" />
</div>

@{ViewData["Title"] = Html.Raw(Model.TopicHeader.Subject);}

@section Header {@ViewData["Title"]}

@section scripts {
	<script>
		window.latest = @DateTime.Now.Ticks;
		window.topicId = @Model.Id;
		window.pageActions = 'topic-display';
		window.currentPage = @Model.CurrentPage;
		window.totalPages = @Model.TotalPages;
		window.showFavicons = @Model.ShowFavicons.ToString().ToLower();
		window.togglePath = '@Url.Action(nameof(Topics.ToggleBoard), nameof(Topics), new { MessageId = Model.Id })';
		window.assignedBoards = ['@(String.Join("', '", Model.AssignedBoards.Select(b => b.Id)))'];
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/topic-display.css" asp-append-version="true" />
}