@model TopicIndexPage

<partial name="_TopicNav" model="@{(Model.BoardId > 0 ? Model.BoardId : 1)}" />

<br class="clear" />

<partial name="SideBar/_Sidebar" for="@Model.Sidebar" />

<section id="topic-list">
	@if (Model.Topics.Any()) {
		@foreach (var item in Model.Topics) {
			if (item.Pinned) {
				<partial name="_PinnedIndexItem" for="@item" />
			}
			else {
				<partial name="_IndexItem" for="@item" />
			}
		}
	}
	else {
		<text><span class="small-pad-top">No topics found that matched the specified criteria.</span></text>
	}
</section>

<footer>
	<span id="load-more-topics" class="hidden small-button">More Topics</span>
</footer>

@{ViewData["Title"] = Model.BoardName;}
@section Header {@ViewData["Title"]}

@section PageActions {
	<li clickable-link-parent><a class="small-button" asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.MarkAllRead)" onclick="return confirm('Are you sure you want to mark all topics read?');">Mark All Read</a></li>
}

@section scripts {
	<script>
		window.pageActions = 'topic-index';
		window.moreAction = 'IndexMore/' + @Model.BoardId;
		window.boardId = @Model.BoardId;
		window.page = @Model.Page;
		window.unreadFilter = @Model.UnreadFilter;
	</script>
}

@section styles {
	<link rel="stylesheet" href="~/styles/topic-index.css" asp-append-version="true" />
}