@model TopicIndexPage

@{ var pageModifier = Model.MorePages ? 1 : 0; }

<section id="topic-list">
	@if (Model.Topics.Any()) {
		@foreach (var item in Model.Topics) {
			if (item.Pinned) {
				<partial name="_PinnedIndexItem" for="@item" />
			}
			else {
				<partial name="_IndexItem" for="@item" />
			}
		}
	}
	else {
		<div class="content-box pad">
			<text><span class="small-pad-top">No topics found with the specified filter.</span></text>
		</div>
	}
</section>

<footer>
	<ul class="inline pages">
		<li class="font-small subdued-text">Pages:</li>
		<li class="hidden pointer unhide-pages more-pages-before">&#8230;</li>

		@for (var i = 1; i <= Model.CurrentPage + pageModifier; i++) {
			if (Model.CurrentPage == i) {
				<li class="small-button highlight page hidden">@i</li>
			}
			else {
				<li class="page hidden"><a asp-controller="@nameof(Topics)" asp-action="@nameof(Topics.Index)" asp-route-id="@Model.BoardId" asp-route-pageId="@i" asp-route-unread="@Model.UnreadFilter" class="small-button" data-page-id="@i">@i.ToString()</a></li>
			}
		}
		@if (Model.MorePages) {
			<li class="more-pages-after">&#8230;</li>
		}
	</ul>
</footer>

<script>
	window.currentPage = @Model.CurrentPage;
	window.totalPages = @(Model.CurrentPage + pageModifier);
</script>