@model ViewModels.Messages.CreateTopicPage

<div id="board-selector" class="float-right content-box pad">
	<ul>
		@if (ViewData["Categories"] is List<ViewModels.Boards.Items.IndexCategory>) {
			foreach (var category in ViewData["Categories"] as List<ViewModels.Boards.Items.IndexCategory>) {
				<li class="gap-bottom">
					<span class="note">@category.Name</span>
					<ul>
						@for (var i = 0; i < category.Boards.Count; i++) {
							var checkbox = Model.BoardId == category.Boards[i].Id ? "checked" : "unchecked";

							<li class="hover-highlight pointer" toggle-board board-id="@category.Boards[i].Id">
								<img src="~/images/checkbox_@(checkbox).png" board-flag="@category.Boards[i].Id" />
								@category.Boards[i].Name
							</li>
						}
					</ul>
				</li>
			}
		}
	</ul>
	<hr />
	<p class="note">Select which boards your topic will appear in.</p>
</div>

<div id="message-form" class="content-box pad">
	<partial name="_MessageForm" for="@Model" />
</div>

@{ViewData["Title"] = "Create a Topic";}
@section Header {@ViewData["Title"]}

@section scripts {
	<environment include="Development">
		<script src="~/js/Pages/MessageCreate.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/min/MessageCreate.min.js" asp-append-version="true"></script>
	</environment>
}

@section styles {
	<environment include="Development">
		<link rel="stylesheet" href="~/css/Pages/MessageCreate.css" asp-append-version="true" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/css/min/MessageCreate.min.css" asp-append-version="true" />
	</environment>
}