@model Message

<article class="gap-bottom">
	<section class="content-box pad">
		<span id="message@(Model.Id)"></span>
		<!-- TODO - if unread target = this, then <span id="latest"></span> -->

		<aside class="float-right">
			@if (Model.CanReply) {
				<span class="small-button reply-button">
					Reply
				</span>
			}

			@if (Model.CanEdit) {
				<a class="small-button"
				   asp-controller="@nameof(Messages)"
				   asp-action="@nameof(Messages.Edit)"
				   asp-route-id="@Model.Id">
					Edit
				</a>
			}

			@if (Model.CanDelete) {
				@if (Model.ParentId == 0) {
					<a class="small-button"
					   asp-controller="@nameof(Messages)"
					   asp-action="@nameof(Messages.Delete)"
					   asp-route-id="@Model.Id"
					   onclick="return confirm('Are you sure you want to remove this ENTIRE topic?');">
						Delete
					</a>
				}
				else {
					<a class="small-button"
					   asp-controller="@nameof(Messages)"
					   asp-action="@nameof(Messages.Delete)"
					   asp-route-id="@Model.Id"
					   onclick="return confirm('Are you sure you want to remove this reply?');">
						Delete
					</a>
				}
			}
		</aside>

		<header class="message-header note">
			@Model.PostedByName
			<time>
				posted @Model.TimePosted
				@if (Model.TimeEdited != Model.TimePosted) {
					<span>| edited @Model.TimeEdited</span>
			}
			</time>
		</header>

		@if (Model.ReplyId > 0) {
			<blockquote>@Html.Raw(Model.ReplyBody)</blockquote>
		}

		<div class="message-body">@Html.Raw(Model.Body)</div>

		<div class="hidden reply-form pad gap-top">
			<p>Reply directly to this message:</p>
			@Html.Partial("_MessageForm", Model.ReplyForm)
		</div>
	</section>

	<section class="message-thoughts"><!-- TODO --></section>

	<section class="message-cards">@Html.Raw(Model.Cards)</section>
</article>